<!doctype html>
<html data-ng-app="exo">
  <title>demo</title>
  <link rel="stylesheet" href="../css/style.css">
  <body data-ng-controller='CommandeControlleur as commandes'>
    <ul data-ng-hide="commandes.detail">
      <li data-ng-repeat='commande in commandes.liste' 
          data-ng-click="commandes.show(commande)">
        {{commande.libelle}} = {{commande.montant}}
      </li>
      <button data-ng-click="commandes.add()">ajouter</button>
      <button onclick='
              var scope = angular.element(this).scope();
              scope.$apply(function () {
                scope.commandes.liste.push(
                        {id: 4, libelle: "ajouter", montant: 300}
                );
              });'
              >ajouter</button>
    </ul>
    <form name="ajoutCommande" data-ng-show="commandes.detail"	>
      <fieldset>
        <div>
          <label>libelle</label>
          <input name="libelle" type="text" data-ng-model="commandes.detail.libelle" data-ng-readonly="true" />
        </div>
        <div>
          <label>montant</label>
          <input name="montant" type="number" data-ng-model="commandes.detail.montant" data-ng-readonly="true" />
        </div>
        <div>
          <label>note</label>
          <textarea name="note" data-ng-model="commandes.detail.note" data-ng-readonly="true"></textarea>
        </div>
        <div>
          <button data-ng-click='commandes.back()'>retour</button>
        </div>
      </fieldset>
    </form>
    <script
      src="../angular-1.6.6/angular.js"
      data-require="angular.js@1.6.x"
    data-semver="1.6.6"></script>
    <script src="./js/CommandeControlleur.js"></script>
  </body>
</html>
